@model Library.Models.Patron;

<h2>Patron Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@* @if(@Model.PatronBooks.Count == 0)
{
  <p>This patron doesn't have any books</p>
}
else
{
  <h4>List of all books belong to this patron:</h4>
  <ul>
  @foreach(var join in Model.PatronBooks)
  {
    <li>@join.Book.Title</li>
  }
  </ul>*@

<p>@Html.ActionLink("Back to patrons", "Index")</p>
<p>@Html.ActionLink("Edit Patron", "Edit", new { id = Model.PatronId })</p>
<p>@Html.ActionLink("Delete Patron", "Delete", new { id = Model.PatronId })</p>