@model Library.Models.Book;
@using Library.Models;

<h2>Book Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>

<h4>Written by:</h4>
  <ul>
  @foreach(var join in Model.Authors)
  {
    <li>@join.Author.Name</li>
    @using (Html.BeginForm("DeleteAuthor", "Books"))
    {
      @Html.Hidden("joinId", @join.AuthorBookId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>

<h3>The library owns @Model.Copies.Count copies of this book:</h3>
<ul>
@foreach (Copy copy in Model.Copies)
{
  <li>Copy is 
    @if (copy.IsCheckedOut)
    {
      <span>not available</span>
    }
    else
    {
      <span>available</span>
    }
    </li>
    @Html.ActionLink("Checkout copy", "CheckoutCopy", "Copies", new { id = copy.CopyId })
    @Html.ActionLink("Delete copy", "Delete", "Copies", new {id = copy.CopyId })
}
</ul>

<p>@Html.ActionLink("Add an Author", "AddAuthor", new { id = Model.BookId })</p>
<p>@Html.ActionLink("Add copies of book", "AddCopies", new { id = Model.BookId })</p>
<p>@Html.ActionLink("Edit Book", "Edit", new { id = Model.BookId })</p>
<p>@Html.ActionLink("Delete Book", "Delete", new { id = Model.BookId })</p>
<p>@Html.ActionLink("Back to Books", "Index")</p>

