@model Library.Models.Author;

<h2>Author Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.AuthorBooks.Count == 0)
{
  <p>This author doesn't have any books</p>
}
else
{
  <h4>List of all books belong to this author:</h4>
  <ul>
  @foreach(var join in Model.AuthorBooks)
  {
    <li>@join.Book.Title</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to authors", "Index")</p>
<p>@Html.ActionLink("Edit Author", "Edit", new { id = Model.AuthorId })</p>
<p>@Html.ActionLink("Delete Author", "Delete", new { id = Model.AuthorId })</p>